<%- include ("_header.ejs"); %>

<h1> Welcome to our first Node.js app </h1>

<meta charset="utf-8">
<title>FilePond from CDN</title>

<!-- Filepond stylesheet -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

      <!-- We'll transform this input into a pond -->
      <form style="display:grid;" action="/save" method="POST">
          <input type="file" class ="filepond">
          <button type="submit" onclick="">Save It</button>
      </form>
    
      <!-- Turn all file input elements into ponds -->
      <script>
      FilePond.registerPlugin(FilePondPluginFileValidateType);

      const inputElement = document.querySelector('input[type="file"]');

      const pond = FilePond.create( inputElement, {
            acceptedFileTypes: ['application/pdf'],
        });
      pond.setOptions({
        server: "/upload"
      })
     </script>

  <%- include ("_footer.ejs"); %>
